<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="blocks/template">

    <h5 th:text="${username}"></h5>
    <div th:text="${message}" th:unless=null></div>
    <form th:action="profile" th:method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-6">
                <input class="form-control" type="password" name="password" placeholder="Password"/>
            </div>
        </div>
        <br/>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-6">
                <input class="form-control" type="email" name="email" placeholder="some@some.com" th:value="${email}"/>
            </div>
        </div>
        <br/>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>

</div>