<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="blocks/template">

    <h2>BaseDate updating</h2>
    <div th:text="'Now in database ' + ${countCoins} + ' coins'" th:unless=null></div>

    <form class="mb-3 mt-5" method="post" th:action="${updating}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="formFile" class="form-label">Add from file</label>
            <input class="form-control" name="file" type="file" id="formFile">
        </div>
        <button class="btn btn-primary mb-3" type="submit">Add coins</button>
    </form>

    <div><h3 th:text="${message}"></h3></div>

        <div th:insert="~{blocks/coins_list :: coins_list (${coinlist})}"></div>

        <form class="mt-5" method="post" action="updating/download">
            <input  type="hidden" class="form-control" name="coinsList" th:value="${coinlist}">
            <button class="btn btn-primary mb-3" type="submit">Download dates from bank's page</button>
        </form>

</div>