<div th:fragment="coins_list" xmlns:sec="http://www.w3.org/1999/xhtml">

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div th:each="coin : ${page}" class="alert alert-into mt-2" th:whith="i">
            <div class="card" style="width: 20rem;">
                <div class="container text-center">
                    <a th:href="'https://cbr.ru/dzi/?tilesources=' + ${coin.catalogNumber}">
                        <img th:src="@{'/images/' + ${coin.catalogNumber} + '.jpg'}"
                             class="card-img-top my-1 ms-1"
                             style="width:140px;height:auto;display: none;" onload="this.style.display=''">
                    </a>
                    <a th:href="'https://cbr.ru/dzi/?tilesources=' + ${coin.catalogNumber} + 'r'">
                        <img th:src="@{'/images/' + ${coin.catalogNumber} + 'r.jpg'}"
                             class="card-img-top my-1 me-1"
                             style="width:140px;height:auto;display: none;" onload="this.style.display=''">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${coin.name != null} ? ${coin.name} : 'Error!!!'">Card title</h5>
                    <span th:if="${coin.series != null}">Серия: <a th:href="'main?series='+${coin.series.seriesName}"
                                                                   th:text="${coin.series.seriesName}"></a></span>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"
                        th:text="${coin.nominal != null} ? 'Номинал: ' + ${coin.nominal.nominal} : 'Номинал:'">An item
                    </li>
                    <li class="list-group-item"
                        th:text="${coin.material != null} ? 'Материал: ' + ${coin.material.material} : 'Материал:'">A
                        second item
                    </li>
                    <li class="list-group-item"
                        th:text="${coin.circulation != null} ? 'Тираж: ' + ${coin.circulation} + ' шт.' : 'Тираж:'">A
                        third item
                    </li>
                </ul>
                <div class="card-body">
                    <a th:href="@{'main/' + ${coin.catalogNumber}}" class="btn btn-primary">More detailed</a>
                    <a th:href="@{${coin.linkToBankPage}}" class="btn btn-primary">Bank page</a>
                </div>
                <ul class="list-group list-group-flush" sec:authorize="isAuthenticated()">
                    <li class="list-group-item">
                        <h6 class="card-title">
                            <p class="text-center  mb-1">В наличии</p>
                        </h6>
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-secondary" type="button" id="button-minus">-</button>
                            <input type="text" class="form-control" th:placeholder="''"
                                   aria-label="Example text with button addon" aria-describedby="button-addon1">
                            <button class="btn btn-outline-secondary" type="button" id="button-plus">+</button>
                            <button class="btn btn-outline-secondary" type="button" id="button-save">Save</button>
                        </div>
                    </li>
                </ul>
                </ul>
            </div>
        </div>
    </div>

</div>