<div th:fragment="logout" xmlns:sec="http://www.w3.org/1999/xhtml">

  <span sec:authorize="isAuthenticated()">
      <form th:action="@{/logout}" th:method="post">
          <span sec:authentication="name"></span>
          <span sec:authentication="principal.authorities"></span>
          <button class="btn btn-primary ms-3" type="submit">Sign Out</button>
    </form>
  </span>

  <span sec:authorize="not isAuthenticated()">
        <a href="/login"><button class="btn btn-primary" type="submit">Log In</button></a>
  </span>

</div>